<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login Page</h1>
    <hr />
    <div style="color: red;" th:if="${error}" th:text="${error}"></div>
    <div style="color: green;" th:if="${logout}" th:text="${logout}"></div>
    <form th:action="@{/doLogin}" method="post">
        <label>Account</label>
        <input name="account" /><br />
        <label>Password</label>
        <input name="passwd" /><br />
        <button type="submit">Login</button>
    </form>
</body>
</html>